.conteiner_form{
    width: 80vw;
    margin: 0 auto;
    height: 100vh;
    
}
.conteiner_form h2{
    font-size: 1.9em;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.form{
    width: 80vw;
    margin: 0 auto;
    padding:  50px 10px;
    background-color: aliceblue;
    color: black;
    align-items: center;
    border-radius: 10px;
    height: 55vh;
}
.form h3{
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 30px;
}
.conteiner_input{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.conteiner_input input{
    background-color: aliceblue;
    border: none;
    border-bottom: 1px solid blue;
    height: 20px;
    font-size: 1.1em;
    outline: none;
    width: 100%;
}


.padrao{
    font-size: .9em;   
}

.conteiner_input select{
    position: relative;
    background-color: aliceblue;
    border: none;
    border-bottom: 1px solid blue;
    height: 5vh;
    font-size: 1em;
    outline: none;
    color: gray;
    width: 100%;
    
}
.conteiner_input textarea{
    width: 100%;
    position: relative;
    background-color: aliceblue;
    border: none;
    border-bottom: 1px solid blue;
    height: 5vh;
    font-size: 1em;
    outline: none;
    color: gray;
    margin-bottom: 20px;
}
.btn_form button{
    padding: 10px;
    color: white; 
    background-color: red;
    font-size: 1.2em;
    border: none;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.btn{
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    align-items: center;
    font-size: 1.2em;
    color:black; 
    width: 200px;
    display:flex;
    flex-direction: row;
    gap: 10px;
}
.redeSociais {
    margin: 30px 0;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    gap: 10px;
}
.btn img{
    height: 30px;
}
.todoe{
    display: none;;
}
@media (min-width: 820px){
    .conteiner_form{
        position:relative;
        width: 80vw;
        margin: 0 auto;
        height: 100vh;
        
    }
    .table{
        display: flex;
        gap: 5px;
    }
    .conteiner_form h2{
        position: absolute;
        top: 8%;
        left:50%;
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
        
    }
    .form{
        width: 32vw;
        margin: 0 auto;
        padding:  10px 20px;
        background-color: aliceblue;
        color: black;
        align-items: center;
        /* text-align: center; */
        justify-content: center;
        border-radius: 10px;
        height: 7%;
        margin-top: 100px;
    }
    .form h3{
        color: gray;
        margin: 0 auto;
        font-size: 2.1em;
        text-align: center;
        margin-bottom: 30px;
    }
    .conteiner_input{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    .conteiner_input input{
        background-color: aliceblue;
        border: none;
        border-bottom: 1px solid blue;
        height: 20px;
        font-size: 1.1em;
        outline: none;
        width: 100%;
    }
    #email{
        width: 100%;
    }
    .padrao{
        font-size: .9em;   
        margin-bottom: 5px;
    }
    
    .conteiner_input select{
        position: relative;
        background-color: aliceblue;
        border: none;
        border-bottom: 1px solid blue;
        height: 5vh;
        font-size: 1em;
        outline: none;
        color: gray;
        width: 100%;
        margin: 10px 0;
    }
    .conteiner_input textarea{
        width: 100%;
        position: relative;
        background-color: aliceblue;
        border: none;
        border-bottom: 1px solid blue;
        height: 30px;
        font-size: 1em;
        outline: none;
        color: gray;
    }
    .btn_form button{
        position: relative;
        padding: 10px;
        color: white; 
        background-color: red;
        font-size: 1.2em;
        border: none;
        width: 70%;
        height: 30px;
        margin: 10% auto;
        display: flex;
        margin-top: 10%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .btn{
        padding: 10px;
        border-radius: 50px;
        background-color: white;
        align-items: center;
        font-size: 1.2em;
        color:black; 
        width: 200px;
        display:flex;
        flex-direction: row;
        gap: 10px;
    }
    .redeSociais {
        margin: 30px 0;
        border-radius: 50px;
        text-align: center;
        align-items: center;
        display:flex;
        flex-direction: column;
        gap: 10px;
    }
    .btn img{
        height: 30px;
    }
    .conteiner_form_btn_img{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;
        
    }
    .btnrs{
        display: flex;
        flex-direction:row;
        align-items: end;
        position: relative;
        right: 15%;
        gap: 50px;
    }
    .todoe{ 
        display: block;
        height: 50vh;
        transform: scaleX(-1);
        margin-top: 180px;
        
    }
}