.tasksCreated{
    background-color: rgb(31, 31, 31);
    height: 100vh;
    position: relative;
}
.consteiner_processCreation{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px; 
}
.consteiner_processCreation h2{
    text-align: center;
    color: white;
    font-size: 1.8em;
    margin: 20px 0;
}

.tasksdesing h3{
    margin: 20px 0;
}
.tasksdesing h3>span{
    color:#F7DF1E;
}
.tasksdesing p{
    font-size: 1.2em;
    margin: 20px 0;
}

.tasksdesing p>span{
    color: #F7DF1E;
    font-weight: 800;
}
.taskDeveloper h3{
    margin: 20px 0;
}
.taskDeveloper h3>span{
    color:#F7DF1E;
}
.taskDeveloper p{
    font-size: 1.2em;
    margin: 20px 0;
}
.taskDeveloper p>span{
    color: #F7DF1E;
    font-weight: 800;
}