.conteiner{
    position: relative;
    padding: 10%;
    max-width: 90vw;
    margin: 0 auto;
    /* height: 100vh; */
}

.section_services h2{
    width: 70vw;
    margin: 0px auto;
    margin-top: 50px;
    font-size: 2em;
    color: #FFF600;
}

.img{
    width: 70vw;
}
.img h4{
    font-size: 1.2em;
}
.conteiner_partServices button{
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: blue;
}
.conteiner_partServices h5{
    font-size: 1.2em;
    color: rgb(228, 228, 3);
}
.conteiner_partServices p{
    font-size: 1.1em;
    
}
.conteiner_partServices p{
    margin: 10px 0;
}
.conteiner_imageTaste{
    position: relative;
    height: 500px;
    min-width: 250px;
    max-width: 400px;
    background-color: rgb(242, 248, 252);
    margin-top: 20px;
}
.entiqueta{
    position: absolute;
    bottom: -5%;
    right: 50%; 
    width: 30px;
    
}
.entiqueta p{
    width: 180px;
    text-align: center;
    background-color: yellow;
    padding: 10px;
    color: #191919;
    font-size: 1.3em;
    font-weight: 800;
}   
.entiqueta span{
    color: rgb(0, 165, 0);
}   
.conteiner_text_services{
    margin: 10px 0;
    margin-bottom: 100px;
}

.etq1{
    position: absolute;
    bottom: -30px;
    left: 20%;

}
.etq2{
    position: absolute;
    bottom: -30px;
    left: 20%;

}
.etq3{
    position: absolute;
    bottom: -30px;
    left: 20%;

}
@media(min-width: 820px){
    *{
        overflow-y: none;
    }
    .btn_more{
        display:none;
    }
    .tecnology_used{
     
        display: block;
    }
    .conteiner_text_services{
        display:flex;
    }
    .img h4{
        width: 40vw;
        font-size: 1.2em;
    }
    .conteiner_partServices p{
        width: 40vw;
        font-size: 1.3em;
        margin: 10px 0;
    }
    .entiqueta{
        position: absolute;
        bottom: -5%;
        right: 50%; 
        width: 30px;
        
    }
    .entiqueta p{
        width: 180px;
        text-align: center;
        background-color: yellow;
        padding: 10px;
        color: #191919;
        font-size: 1.3em;
        font-weight: 800;
    }   
    .entiqueta span{
        color: rgb(0, 165, 0);
    }  
    .etq1{
        position: absolute;
        bottom: -30px;
        left: 20%;
    
    }
    .etq2{
        position: absolute;
        bottom: -15%;
        left: 20%;
    
    }
    .etq3{
        position: absolute;
        bottom: -15%;
        left: 20%;
    
    } 
    .conteiner_text_services{
        margin: 10px 0;
        margin-bottom: 100px;
    }
    .conteiner_imageTaste{
        position: relative;
        height: 400px;
        width: 400px;
        background-color: rgb(242, 248, 252);
        margin-top: 20px;
    }
  
}